
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* shared style */
*{
  padding: 0,0;
  margin: 0 auto;
}
.display{
  display:flex;
}






.navbar{ 
 justify-content: center;
 align-items: center;
  fixed-height: 20px;
  fixed-width: 1000px;
}
.school{
font-weight: 700;
font-size: 2rem;
margin-left: 4px;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
  text-align: center;
}
.nav-links{
margin-right: 100px;

}
.nav-link{
  text-decoration: none;

  
}
#home-color{
color: #FEA301;
}
#about-color{
color: #01ACFD;
}
#facilities-color{
color: #05D4DF;
}
#admission-color{
color: #5D58EF;
}
.contact-btn{
  width: 110px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 18px;
font-weight: 600;
background: rgb(254, 163, 1);
}
/* banner section style */
.banner-section{
display: flex;
justify-content: center;
align-items: center;
}
.banner-heading{
  font: Quicksand;
  font-weight: 700;
  font-size: 3rem;
}
#empower{  
 color: rgb(254, 163, 1);
}
#vision{
 color: rgb(1, 172, 253);
}
.creativity{
  color: rgb(17, 17, 17);
font: Quicksand;
font-size: 20px;
font-weight: 400;
margin: 20px 0px;

}
.roll-btn{
  width: 105px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  color: white;
  background:  rgb(17, 17, 17);
}
/* .standard-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bg.png);
} */


 .card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 60px 0px 60px 0px;
 }
 .card-box{
  box-sizing: border-box;
  border-radius: 18px;
 }
